<!DOCTYPE html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="css/fonts.css">
  <link rel="stylesheet" type="text/css" href="css/kneeboard-{{theme}}.css">
</head>
<body style="{{body_style}}">

<div id="kneeboard" class="kneeboard">

  <table class="kb-width" style="table-layout:fixed">
    <colgroup>
      <col style="width: 60px" />
      <col style="width: 100px" />
      <col style="width: 70px" />
      <col style="width: 100px" />
      <col style="width: 70px" />
      <col />
      <col style="width: 30px" />
      <col style="width: 80px" />
    </colgroup>
    <tbody>
      <tr>
        <th>FLIGHT</th>
        <td style="padding-left: 5px">{{flight_id}}</td>
        <th>PACKAGE</th>
        <td style="padding-left: 5px">{{package_id}}</td>
        <th>MISSION</th>
        <td style="padding-left: 5px">{{mission_title}}</td>
        <th>ID</td>
        <td style="padding-left: 5px">{{mission_id}}</td>
      </tr>
    </tbody>
  </table>

  <div style="height:15px;"></div>

  <table class="kb-width">

    <colgroup>
      <col style="width: 30px" />
      <col />
      <col style="width: 36px" />
      <col style="width: 50px" />
      <col style="width: 60px" />
      <col style="width: 60px" />
      <col style="width: 60px" />
      <col style="width: 60px" />
      <col style="width: 60px" />
      <col style="width: 50px" />
      <col style="width: 80px" />
    </colgroup>

    <tbody>

      <tr>
        <td colspan=11 class="section">AIRBASES</td>
      </tr>

      <tr>
        <th></th>
        <th>AIRBASE</th>
        <th>ICAO</th>
        <th>TCN</th>
        <th>ATIS</th>
        <th>GND</th>
        <th>TWO</th>
        <th>PAR/LSO</th>
        <th>CTRL</th>
        <th>ELEV</th>
        <th>RWY</th>
      </tr>
      {% for data in flight %}
      <tr>
        <td class="type">{{data[0]}}</td>
        <td>{{data[1]}}</td>
        <td>{{data[2]}}</td>
        <td class="freq">{{data[3]}}</td>
        <td class="freq">{{data[4]}}</td>
        <td class="freq">{{data[5]}}</td>
        <td class="freq">{{data[6]}}</td>
        <td class="freq">{{data[7]}}</td>
        <td class="freq">{{data[8]}}</td>
        <td class="algnr rpad5">{{data[9]}}</td>
        <td>{{data[10]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if mission_waypoints %}
  <div style="height:15px;"></div>

  <table class="kb-width" style="table-layout: fixed">
    <colgroup>
      <col style="width:30px" />
      <col />
      <col style="width:45px" />
      <col style="width:45px" />
      <col style="width:45px" />
      <col style="width:45px" />
      <col style="width:140px" />
      <col style="width:140px" />
      <col style="width:45px" />
      <col style="width:45px" />
    </colgroup>
    <tbody>
      <tr>
        <td colspan=10 class="section">MISSION WAYPOINTS</td>
      </tr>
      <tr>
        <th></th>
        <th>NAME</th>
        <th>ALT</th>
        <th>GS</th>
        <th>TOT</th>
        <th>ACT</th>
        <th>LAT</th>
        <th>LON</th>
        <th>DIST</th>
        <th>TBRG</th>
      </tr>
      {% for wp in mission_waypoints %}
      <tr>
        <td class="type">{{wp[0]}}</td>
        <td>{{wp[1]}}</td>
        <td class="algnr">{{wp[2]|alt_formatter}}</td>
        <td class="algnc">{{wp[3]}}</td>
        <td class="algnc">{{wp[4]}}</td>
        <td class="algnc">{{wp[5] if wp[5] != '00:00'}}</td>
        <td class="freq">{{wp[6]|lat_formatter|safe}}</td>
        <td class="freq">{{wp[7]|lon_formatter|safe}}</td>
        <td class="algnr rpad5">{{wp[8]}}</td>
        <td class="algnr rpad5">{{wp[9]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <div style="height:15px;"></div>

  <div style="overflow: auto;">
    
    <div style="float:left">

      {% if poi %}
      <table style="width:498px; table-layout: fixed">

        <colgroup>
          <col style="width: 30px" />
          <col />
          <col style="width: 140px" />
          <col style="width: 140px" />
        </colgroup>

        <tbody>

        <tr>
          <td colspan=4 class="section">POINTS OF INTEREST</td>
        </tr>

        <tr>
          <th></th>
          <th>NAME</th>
          <th>LAT</th>
          <th>LON</th>
        </tr>

        {% for wp in poi %}
        <tr>
          <td class="type">{{wp[0]}}</td>
          <td>{{wp[1]}}</td>
          <td class="freq">{{wp[2]|lat_formatter|safe}}</td>
          <td class="freq">{{wp[3]|lon_formatter|safe}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}

      {% if internal_comms %}
      {% if poi %}
      <div style="height:15px;"></div>
      {% endif %}

      <table style="width:498px; table-layout:fixed">
  
        <colgroup>
          <col />
          <col style="width:140px" />
          <col style="width:140px" />
        </colgroup>

        <tbody>

        <tr>
          <td colspan=3 class="section">INTERNAL COMMS</td>
        </tr>

        <tr>
          <th>TYPE</th>
          <th>CHAN</th>
          <th>FREQ</th>
        </tr>

        {% for ic in internal_comms %}
        <tr>
          <td>{{ic[0]}}</td>
          <td>{{ic[1]}}</td>
          <td class="freq">{{ic[2]}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
    
    {% if internal_comms or poi %}
    <div style="width:20px; float: left; border:0px solid blue">&nbsp;</div>
    {% endif %}

    <div style="float:left">
      {% if stores %}
      <table style="width:211px;">
        <colgroup>
          <col />
          <col />
        </colgroup>
        <tbody>
          <tr>
            <td colspan=2 class="section">LOADOUT</td>
          </tr>

          <tr>
            <th>PYL</th>
            <th>ITEM</th>
          </tr>

          {% for s in stores %}
          <tr>
            <td class="algnc">{{s[0]}}</td>
            <td class="lpad5">{{s[1]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      {% if ramrod and stores %}
      <div style="height:15px;"></div>
      {% endif %}

      {% if ramrod %}
      <table style="width:211px;">
        <colgroup>
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
        </colgroup>
        <tbody>
          <tr>
            <td colspan=10 class="section">RAMROD</td>
          </tr>

          <tr>
            <th>0</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
          </tr>

          <tr>
          {% for s in ramrod %}
            <td class="freq">{{s}}</td>
          {% endfor %}
          </tr>
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>

  {% if tactical_comms or mission_tankers %}
  <div style="height:15px;"></div>

  <table class="kb-width" style="table-layout: fixed">
    <colgroup>
      <col style="width:190px" />
      <col style="width:75px" />
      <col style="width:60px" />
      <col style="width:60px" />
      <col />
    </colgroup>

    <tbody>
      <tr>
        <td colspan=5 class="section">MISSION COMMS</td>
      </tr>

      <tr>
        <th>AGENCY</th>
        <th>CHAN</th>
        <th>FREQ</th>
        <th>TCN</th>
        <th>NOTES</th>
      </tr>

      {% for x in tactical_comms %}
      <tr>
        <td class="vt">{{x[0]}}</td>
        <td class="vt algnc">{{x[1]}}</td>
        <td class="vt freq">{{x[2]}}</td>
        <td class="vt freq">{{x[3]}}</td>
        <td>{{x[4]|textfield_formatter}}</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
  {% endif %}

  {% if notes %}
  <div style="height:15px;"></div>

  <table style="table-layout:fixed;" class="kb-width hrows">

    <colgroup>
      <col style="width:190px" />
      <col />
    </colgroup>

    <tbody>

      <tr>
        <td colspan=2 class="section">NOTES</td>
      </tr>

      <tr>
        <th>PREDICATE</th>
        <th>DETAILS</th>
      </tr>

      {% for note in notes %}
      <tr>
        <td>{{note[0]}}</td>
        <td>{{note[1]|textfield_formatter}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <div style="position: absolute; top:1011px; left:10; width:728px; text-align: right; font-size: 10px; vertical-align:bottom">{{kb}}</div>
</div>
